# Importacion de librerias

In [1]:
import os
import csv
import pandas as pd

# Archivos de datos

In [2]:
LPDS_Dir = "C:/Users/carla/OneDrive/Escritorio/Epsol/EPSOLAPP/Epsol/LDPS"
filename = "LDP Export 2020-may.-19_02-16-02_Recorder2.csv"
path = os.path.join(LPDS_Dir,filename)

In [205]:
palabra = "Record"
with open(path, newline='') as File:
    reader = csv.reader(File)
    for index,row in enumerate(reader):
        if (row[0]==palabra):
            cut_index=index

In [208]:
data = pd.read_csv(path, skiprows=cut_index)
data

,Record,Date,Time,Status,"""PFT3""","""PFTA""","""PFTB""","""PFTC""","""LDPFT3"""
0,2016,04/01/2020,01:10:00,"""...""",1.000000,1.000000,1.0,1.0,1.000000
1,2015,04/01/2020,01:15:00,"""...""",1.000000,1.000000,1.0,1.0,1.000000
2,2014,04/01/2020,01:20:00,"""...""",1.000000,1.000000,1.0,1.0,1.000000
3,2013,04/01/2020,01:25:00,"""...""",0.930528,0.930528,1.0,1.0,0.400133
4,2012,04/01/2020,01:30:00,"""...""",0.881682,0.881682,1.0,1.0,0.000000
...,...,...,...,...,...,...,...,...,...
2011,5,05/18/2020,23:40:00,"""...""",1.000000,1.000000,1.0,1.0,1.000000
2012,4,05/18/2020,23:45:00,"""...""",1.000000,1.000000,1.0,1.0,1.000000
2013,3,05/18/2020,23:50:00,"""...""",1.000000,1.000000,1.0,1.0,1.000000
2014,2,05/18/2020,23:55:00,"""...""",1.000000,1.000000,1.0,1.0,1.000000
2015,1,05/19/2020,00:00:00,"""...""",1.000000,1.000000,1.0,1.0,1.000000

In [114]:
data[data[0]=="Record"].index

Int64Index([450], dtype='int64')

In [207]:
Working_Data = data.copy()
Working_Data

,0,1,2,3,4,5,6,7,8
0,Record,Date,Time,Status,"""PFT3""","""PFTA""","""PFTB""","""PFTC""","""LDPFT3"""
1,2016,04/01/2020,01:10:00,"""...""",1,1,1,1,1
2,2015,04/01/2020,01:15:00,"""...""",1,1,1,1,1
3,2014,04/01/2020,01:20:00,"""...""",1,1,1,1,1
4,2013,04/01/2020,01:25:00,"""...""",0.93052834,0.93052834,1,1,0.40013316
...,...,...,...,...,...,...,...,...,...
2012,5,05/18/2020,23:40:00,"""...""",1,1,1,1,1
2013,4,05/18/2020,23:45:00,"""...""",1,1,1,1,1
2014,3,05/18/2020,23:50:00,"""...""",1,1,1,1,1
2015,2,05/18/2020,23:55:00,"""...""",1,1,1,1,1
2016,1,05/19/2020,00:00:00,"""...""",1,1,1,1,1

result=Working_Data[Working_Data[0]=="Record"]
index=result.index.item()

Working_Data[index:]
Working_Data.drop(range(0,index),axis=0,inplace=True)
Working_Data

index=int(Working_Data[Working_Data[0]=="Record"].index[0])
Working_Data.drop(range(0,index),axis=0,inplace=True)
Working_Data

Working_Data2 = Working_Data.copy()

Working_Data2

In [153]:
Working_Data2.reset_index(drop=True,inplace=True)
Working_Data2

,0,1,2,3,4,5,6,7,8,9,10
0,Record,Date,Time,Status,"""PFT3""","""PFTA""","""PFTB""","""PFTC""","""LDPFT3""",NaN,NaN
1,2016,04/01/2020,01:10:00,"""...""",1,1,1,1,1,NaN,NaN
2,2015,04/01/2020,01:15:00,"""...""",1,1,1,1,1,NaN,NaN
3,2014,04/01/2020,01:20:00,"""...""",1,1,1,1,1,NaN,NaN
4,2013,04/01/2020,01:25:00,"""...""",0.93052834,0.93052834,1,1,0.40013316,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2012,5,05/18/2020,23:40:00,"""...""",1,1,1,1,1,NaN,NaN
2013,4,05/18/2020,23:45:00,"""...""",1,1,1,1,1,NaN,NaN
2014,3,05/18/2020,23:50:00,"""...""",1,1,1,1,1,NaN,NaN
2015,2,05/18/2020,23:55:00,"""...""",1,1,1,1,1,NaN,NaN
2016,1,05/19/2020,00:00:00,"""...""",1,1,1,1,1,NaN,NaN

In [154]:
Working_Data2.columns=Working_Data2.iloc[0]

In [155]:
Working_Data2.drop(0,axis=0,inplace=True)

In [156]:
Working_Data2

,Record,Date,Time,Status,"""PFT3""","""PFTA""","""PFTB""","""PFTC""","""LDPFT3""",NaN,NaN
1,2016,04/01/2020,01:10:00,"""...""",1,1,1,1,1,NaN,NaN
2,2015,04/01/2020,01:15:00,"""...""",1,1,1,1,1,NaN,NaN
3,2014,04/01/2020,01:20:00,"""...""",1,1,1,1,1,NaN,NaN
4,2013,04/01/2020,01:25:00,"""...""",0.93052834,0.93052834,1,1,0.40013316,NaN,NaN
5,2012,04/01/2020,01:30:00,"""...""",0.88168162,0.88168162,1,1,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2012,5,05/18/2020,23:40:00,"""...""",1,1,1,1,1,NaN,NaN
2013,4,05/18/2020,23:45:00,"""...""",1,1,1,1,1,NaN,NaN
2014,3,05/18/2020,23:50:00,"""...""",1,1,1,1,1,NaN,NaN
2015,2,05/18/2020,23:55:00,"""...""",1,1,1,1,1,NaN,NaN
2016,1,05/19/2020,00:00:00,"""...""",1,1,1,1,1,NaN,NaN

In [185]:
Working_Data2.dropna(axis = 1, how ='all',inplace=True)

,Record,Date,Time,Status,"""PFT3""","""PFTA""","""PFTB""","""PFTC""","""LDPFT3"""
1,2016,04/01/2020,01:10:00,"""...""",1,1,1,1,1
2,2015,04/01/2020,01:15:00,"""...""",1,1,1,1,1
3,2014,04/01/2020,01:20:00,"""...""",1,1,1,1,1
4,2013,04/01/2020,01:25:00,"""...""",0.93052834,0.93052834,1,1,0.40013316
5,2012,04/01/2020,01:30:00,"""...""",0.88168162,0.88168162,1,1,0
...,...,...,...,...,...,...,...,...,...
2012,5,05/18/2020,23:40:00,"""...""",1,1,1,1,1
2013,4,05/18/2020,23:45:00,"""...""",1,1,1,1,1
2014,3,05/18/2020,23:50:00,"""...""",1,1,1,1,1
2015,2,05/18/2020,23:55:00,"""...""",1,1,1,1,1
2016,1,05/19/2020,00:00:00,"""...""",1,1,1,1,1